<!--
UPD on 19.08.2023 - Lesson 6
-->
<!--
Блоки будут заполняться в index.html и about.html
-->
<!--
UPD on 20.08.2023 - Lesson 7
-->
<!--
Должны дать доступ к статическим файлам (тег load и тег static)
-->
<!--
{% load static %}
<!DOCTYPE html>
<html>
<head>
         <title>{{title}}</title>
         -->
    <!--
    UPD on 20.08.2023 - Lesson 7
    -->
    <!--
    Для формирования url
    {% static ' <путь к файлу от папки static>' %}
    -->
<!--
    <link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

<ul>
         {% for m in menu %}
<li>{{m}}</li>
         {% endfor %}
</ul>




</body>
</html>
-->

<!--
UPD on 20.08.2023 - Lesson 7
-->
<!--
Новый вариант содержимого файла
-->
<!--
Пришлось убрать объявления блоков из предыдущего содержимого файла, т.к. возникали ошибки
-->

{% load static %}
<!--
UPD on 21.08.2023 - Lesson 11
-->
<!--
Загружаем файл пользовательских тегов
-->
{% load women_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--
    Загрузка иконки сайта
    -->
	<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
				<!--
				UPD on 21.08.2023 - Lesson 8
				-->
				<!--
				Работа с ссылками в Django (используется тег url)
				Чаще используют имена маршрутов ('home')
				-->
				<!--
			<li class="logo"><a href="#"><div class="logo"></div></a></li>
			-->
				<!--
				<li class="logo"><a href="/"><div class="logo"></div></a></li>
				-->
					<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
				<!--
				UPD on 21.08.2023 - Lesson 11
				-->
				<!--
				ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ: СОЗДАНИЕ ПОЛЬЗОВАТЕЛЬСКИХ ТЕГОВ ДЛЯ ОТОБРАЖЕНИЯ МЕНЮ
				-->
				<!--
{% for m in menu %}
	{% if not forloop.last %}
	-->
				<!--
				UPD on 21.08.2023 - Lesson 8
				-->
			<!--
				<li><a href="#">{{m.title}}</a></li>
				-->
				<!--
				<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% else %}
	-->
                <!--
                # - в данном случае "заглушка"
                -->
				<!--
				UPD on 21.08.2023 - Lesson 8
				-->
				<!--
				Вместо имени ссылки пункта меню подставляется конкретный маршрут
				-->
				<!--
			<li class="last"><a href="#">{{m.title}}</a></li>
			-->
				<!--
				<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>

	{% endif %}
{% endfor %}
-->
				<!--
				UPD on 28.08.2023 - Lesson 18
				Добавим в главное меню пункт регистрации пользователей (в шаблоне list_menu.html)
				-->
				{% show_menu %}

			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
		<!--
		UPD on 21.08.2023 - Lesson 11
		-->
		<!--
		Используем простой пользовательский тег
		-->
		<!--

		-->
		<!--
		Как перебрать список в цикле for?
		Нужно содержимое тега перенести в переменную
		as <имя_переменной> - возвращает ссылку на данные тега
		-->
		<!--

		-->
		<!--
		{% getcats as categories %}
		-->
		<!--
		{% getcats %}
		-->
		<!--
		UPD on 21.08.2023 - Lesson 11
		-->
		<!--
		Передаем параметр тегу
		Без пробелов до и после '='
		Можно передавать без названия параметра
		-->
		<!--
		{% getcats filter=1 %}
		-->
		<!--
		{% getcats 2 %}
		-->

	<ul id="leftchapters">
		<!--
		UPD on 21.08.2023 - Lesson 9
		-->
		<!--
		Подгружаем категории из БД
		-->
		<!--
		<li class="selected">Все категории</li>
		<li><a href="#">Актрисы</a></li>
		<li><a href="#">Певицы</a></li>
		<li><a href="#">Спортсменки</a></li>
		-->
{% if cat_selected == 0 %}
		<!--
		Отображается обычный текст без ссылки
		-->
                   <li class="selected">Все категории</li>
{% else %}
		<!--
		Отображается ссылка
		-->
                   <li><a href="{% url 'home' %}">Все категории</a></li>
{% endif %}

		<!--
		UPD on 21.08.2023 - Lesson 11
		-->
		<!--
		Список берётся из тега
		-->
		<!--

		-->

		<!--
		UPD on 21.08.2023 - Lesson 11
		-->
		<!--
		Использованием тегов сохраняет ссылки на текущих категориях
		-->
		<!--

		-->
		<!--
		Передаём параметры во включенный тег
		-->
		<!--

		-->
		<!--

		-->
		<!--
		Если сортировка категорий не нужна, передаём 1 параметр
		-->
		<!--
		UPD on 26.08.2023 - Lesson 17
		Вернём отображение рубрик не через пользовательский тег, а через cats
		-->
		<!--

		-->
		{% for c in cats %}
		<!--
		UPD on 26.08.2023 - Lesson 17
		Добавим условие, чтобы не отображались пустые рубрики
		-->
		{% if c.women__count > 0 %}
         {% if c.pk == cat_selected %}
                   <li class="selected">{{c.name}}</li>
         {% else %}
                   <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
         {% endif %}
		<!--
		UPD on 26.08.2023 - Lesson 17
		-->
		{% endif %}
		{% endfor %}

		<li class="share">
		<p>Наш канал</p>
		<a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}

		<!--
		UPD on 28.08.2023 - Lesson 18
		Добавляем постраничную навигацию на главной странице
		Используем базовый шаблон base.html, т.к. нужно ещё добавить пагинацию в категориях
		Добавляем проверку на то, отображается ли содержимое на нескольких страницах
		Добавляем кнопки для перехода на предыдущую и следующую страницы
		-->
		{% if page_obj.has_other_pages %}
		<nav class="list-pages">
    <ul>
		{% if page_obj.has_previous %}
<li class="page-num">
	<!--
	&lt; - <
	-->
         <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}
		<!--
		Класс ListView автоматически передаёт в шаблон 2 параметра:
		paginator (ссылка на класс Paginator) и page_obj (список объектов для текущей страницы)
		-->
        {% for p in paginator.page_range %}
		<!--
		Отображаем текущую страницу как текст, а не как ссылку
		-->
		{% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
		<!--
		Пусть отображается 2 ближайшие слева и 2 ближайшие справа страницы от текущей
		add - фильтр суммирования
		-->
		<!--

                   -->
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}

        {% endfor %}

				{% if page_obj.has_next %}
<li class="page-num">
	<!--
	&gt; - >
	-->
         <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}

	</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
