<!--
UPD on 29.08.2023 - Lesson 21
ДЛЯ ОПТИМИЗАЦИИ ЗАПРОСОВ ПЕРЕНЕСЛА ОТОБРАЖЕНИЕ ПЕРВОГО ФОТО ДЛЯ ПОСТА В index.html
-->

<!--
				UPD on 24.08.2023 - ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ
				Пока оставляем только первое фото из списка
				-->

{% if photos|length > 0 %}

    <!--
    UPD on 25.08.2023 - ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ
    Пусть прокрутка изображений в слайдере будет доступна лишь внутри отдельного поста
    (из-за проблемы динамического формирования id)
    А на общей странице слайдера не будет, только первое фото из БД или пустая картинка
    -->
<!--
UPD on 29.08.2023 - Lesson 21
ДОПОЛНИТЕЛЬНО ОПТИМИЗИРУЮ ЗАПРОСЫ ИЗ-ЗА ДОП.ЗАДАНИЯ ПО ДОБАВЛЕНИЮ НЕСКОЛЬКИХ ФОТО К ОДНОЙ ЗАПИСИ
-->
<!--

-->
<p><img class="img-article-left thumb" src="{{photos.0.photo.url}}"></p>

				<!--
				UPD on 24.08.2023 - ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ
				Если нет фотографии - выводим картинку-заглушку
				Не стала подключать через styles.css
				Разные относительные пути в зависимости от url раздела сайта...
				-->
				{% else %}

                {% if cat_selected == 0 %}

				<p><img class="img-article-left thumb" src="../static/women/images/no_photo.png"></p>

                {% else %}

                <p><img class="img-article-left thumb" src="../../../static/women/images/no_photo.png"></p>

                {% endif %}

<!--
<p><div class="empty-photo-img"></div></p>
-->

{% endif %}
